// MEDIA QUERY MANAGER

/*
This is used to center the position of items throughout the site, reduciing the code due to its reusablity. 
*/

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
