.website__examples {

    &__item {
        &--text {
            padding: 2rem;
        }
    }

    &__buttonContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        min-width: 20rem;
    }

    &--cta {
        display: flex;
        width: 90rem;
        max-width: 100%;
        justify-content: center;
        margin: 0rem auto;

        button {
            max-width: 15rem;
        }

        @include respond(tablet) {
            justify-content: flex-end;

            button {
                max-width: 20rem;
            }
        }

    }

    h2 {
        color: $color-grey-dark;
        font-weight: 100;
        font-size: 4rem;
        line-height: 100%;
        text-align: center;
        padding: 0 2rem;
        max-width: 80rem;

        span {
            color: $color-black;
            font-weight: 500;
            border-bottom: 5px solid $color-tertiary-light;

            @include respond(above-mobile) {
                border-bottom: 1.2rem solid $color-tertiary-light;
            }
        }

        @include respond(above-mobile) {
            font-size: 4rem;
        }

        @include respond(desktop) {
            margin: 10rem auto 0 auto;
            font-size: 3rem;
        }
    } 

    .carousel {
        margin: 2rem 0;

        @include respond(desktop) { 
            justify-content: center;
        }
        
        &--item {
            width: fit-content;
            min-width: 30rem;
            max-width: 30rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 1rem;
            position: relative;

            h5 {
                font-size: 2rem;
                font-style: italic;
                font-weight: 400;
            }
        
            p {
                color: $color-grey-dark-3;
                font-size: 1.4rem;
                line-height: 2rem;
                margin: 2rem 0;
            }
        

            img { 
                height: auto;
                min-width: 30rem;
                width: 100%;
                max-width: 20rem;
            }
        }
    }
}