.website__examples {

    &--imageLogo {
        border-radius: 50%;
        height: 8rem;
        width: 8rem;
    }

    &--usercard {
        display: flex;
        margin: 1rem 0 0 0;
    }

    &--userinfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 2rem;
    }

    &--review {
        font-size: 1.2rem;
    }

    &--name {
        font-size: 1.7rem
    }

    &--business {
        font-size: 1.5rem;
    }

    &--website {
        font-style: italic;
        font-weight: 400;
        color: $color-grey-dark;
    }


    .carousel--item {
        padding: 1rem 2rem;
        margin: 1rem;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        border-radius: 1rem;

        @include respond(desktop) {
            &:nth-child(1), &:nth-child(3){
                margin: 1.5rem;
            }
        }
    }

    &--cta {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(above-mobile) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;

            & > div, & > button {
                max-width: 20rem;
            }
        }
    }
}