.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;

    @include respond(desktop) {            
            #mc_embed_signup {
                width: auto;
            }

            &--copyrights {
                margin-top: 1rem;
                color: $color-grey-dark-2;
                font-size: 1.2rem;
            }
        
    }

    &__main {
        text-align: center;
        
        @include respond(desktop) {
            display: flex;
            align-items: center;

            border-top: 1px solid $color-grey-light-3;
            border-bottom: 1px solid $color-grey-light-3;
            width: 95%;
            padding: 2.5rem 3rem;
            margin: auto;

            .footer--subscription {
                width: 50%;
            }
        }
    }

    &--menu {
        display: flex;
        margin: 1.25rem 0;
        justify-content: center;

        li {
            margin: 0 1rem;
            font-weight: 500;
            font-size: 1.4rem;
            height: 100%;
            width: auto;
        }

        img {
            display: none;
        }

        @include respond(only-mobile) {
            display: none;
        }

        @include respond(desktop) {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            flex-direction: column;
            height: 70px;
            padding: 0rem 4rem;
            border-left: 1px solid $color-grey-light-3;
            align-content: space-around;

            img {
                display: block;
                height: 100%;
                width: auto;
            }
            
            li {
                flex-basis: calc(33.33% - 10px);
                margin-bottom: 0;
            }
        }
    }
}