.header {
    width: 100%;
    padding: 0;
    // height: 700px;

    &--logo {
        width: auto;
        position: fixed;
        top: 2%;
        right: 5%;
        text-align: center;

        img {
            width: 8rem;
            height: 8rem;
        }

        @media only screen and (min-width: 63.9em) {
            display: none;
        }
    }

}