.main__section {
    height: 75vh;
    min-height: 75vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(
        to top, transparent, #ffffff
    ), url("../img/mainBackground.webp");
    background-position: center center;

    @include respond(above-mobile) {
        max-width: 1350px;
        height: 85vh;
        min-height: 85vh;
    }

    h2 {
        font-size: 4rem;
        padding: 2rem 2.5rem;
        margin: 8rem 0;
        font-family: system-ui;
        font-weight: 300;
        text-align: left;

        @include respond(desktop) {
            font-size: 9rem;
            max-width: 105rem;
            padding: 0;
            margin: 0;
        }

        span {
            color: $color-secondary-dark;
        }
    }

    &--cta {
        @include respond(above-mobile) {
            display: flex;
            grid-gap: 1rem;
            min-width: 30rem;
            align-items: flex-start;

            & > div, & > button {
                max-width: 50%;
            }

            p {
                font-size: 1.4rem;
            }

            .btn {
                min-width: 20rem;
            }

            .btn--consultation {
                font-size: .9rem;
            }
        }
    }
}