.main__section {
    height: 75vh;
    min-height: 75vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    // background-image: linear-gradient(
    //     to top, transparent, #ffffff
    // ), url("../img/mainBackground.webp");
    // background-position: center center;

    @include respond(above-mobile) {
        max-width: 1350px;
        height: 85vh;
        min-height: 85vh;
    }

    h2 {
        font-size: 4rem;
        padding: 2rem 2.5rem;
        margin: 8rem 0 4rem 0;
        font-family: system-ui;
        font-weight: 300;
        text-align: left;

        @include respond(big-phone) {
            font-size: 4.75rem;
        }

        @include respond(tablet) {
            margin: 4rem 0;
            font-size: 8rem;
            padding: 0rem 4rem;
        }

        @include respond(desktop) {
            font-size: 9rem;
            max-width: 105rem;
            padding: 0;
            margin: 8rem;
        }

        span {
            color: $color-tertiary-light;
        }
    }

    &--cta {
        @include respond(above-mobile) {
            display: flex;
            // grid-gap: 1rem;
            // min-width: 30rem;
            // align-items: flex-start;
            width: 80%;

            // & > div, & > button {
            //     max-width: 50%;
            // }

            p {
                font-size: 1.4rem;
            }

            .btn {
                min-width: 20rem;
            }

            .btn--consultation {
                font-size: .9rem;
            }
        }
    }
}