.navigation {
  position: fixed;
  z-index: 15;
  height: 100%;
  max-width: 340px;
  width: 0;
  top: 0;
  left: 0;
  background-color: $color-white;
  overflow-x: hidden;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  padding: 3rem;
  display: none;

  @include respond(desktop) {
    width: 100%;
    max-width: 1350px;
    height: auto;
    padding: 1rem 3rem;

    left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &--active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3rem;
  }

  &__menu {
    width: 60%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;

    @include respond(desktop) {
      flex-direction: row;
      width: auto;
    }
  }

  &__open {
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    background-color: transparent;
    border: none;

    position: absolute;
    top: 2rem;
    right: 2rem;

    @include respond(desktop) {
      display: none;
    }
  }

  &__item {
    padding-bottom: 1.4rem;

    @include respond(big-phone) {
      padding-bottom: 3rem;
    }

    @include respond(desktop) {
      max-width: 190px;
      padding: 10px;
    }

    &:hover > * {
      color: $color-primary;
    }

    h2 {
      color: $color-black;
      font-weight: 600;
      font-size: 2.5rem;
      white-space: nowrap;

      @include respond(big-phone) {
        font-size: 2rem;
      }
    }

    p {
      color: $color-grey-dark-3;
      font-style: italic;
      font-size: 1.5rem;
      margin-right: 5rem;
      max-width: 15rem;
    }
  }

  &__logo--link {
    display: flex;
    justify-content: center;
    flex-direction: column;

      &::after {
          content: "";
          display: block;
          margin: 0 auto;
          width: 95%;
          padding-top: 1rem;
          border-bottom: 1px solid #eee;
      }
  }

  &__logo {
    width: 70%;
    max-width: 70%;
    margin: 0 auto;

    @include respond(desktop) {
      display: none;
    }
  }
}
