.navigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: $color-white;
  transition: 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  overflow-x: hidden;

  @include respond(desktop) {
    width: 100%;
    max-width: 1350px;
    height: auto;
    margin: auto;
    left: auto;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  &--active {
    width: 300px;
  }

  &--open {
    position: fixed;
    top: 2%;
    left: 5%;
    z-index: 2;

    @include respond(desktop) {
      display: none;
    }
  }

  &--logo {
    display: none;

    @include respond(desktop) {
      display: block;
      margin-right: auto;

      img {
        height: 7rem;
        width: 7rem;

      }
    }
  }

  &--mobilelogo {
    display: flex;
    justify-content: center;

      img {
        height: 15rem;
        width: auto;
      }
  }

  &--wrapper {
    display: flex;
    flex-direction: column;
    background: $color-white;
    height: 100%;
    transition: 0.3s;
    min-width: 300px;
    padding: 2rem;

    @include respond(desktop) {
      width: 100%;
      background-color: transparent;
      padding: 1rem 2rem 0 2rem;
    }
  }

  &--header {
    width: 100%;

    @include respond(desktop) {
      display: none;
    }
  }

  &--menu {
    height: auto;
    padding-left: 2rem;
    font-size: 2rem;

    @include respond(desktop) {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }

    li {
      padding: 1rem 0rem;

      &:hover {
        color: $color-tertiary-light;
      }

      @include respond(desktop) {
        padding: 1.5rem;
        font-size: 1.5rem;
      }

      @include respond(big-desktop) {
        padding: 1.8rem;
        font-size: 1.8rem;
      }
    }

      .active {
        color:$color-primary;

        &:hover {
          color: $color-tertiary-light;
        }
      }
  }

  &--footer {
    margin-top: auto;

    @include respond(desktop) {
      display: none;
    }

    .social-links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}