.website__packages {

    .carousel {
        @include respond(desktop) {
            justify-content: center;
        }
    }

    .carousel--item {
        min-width: 30rem;
        max-width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 1rem;
        position: relative;

        .btn {
            border-radius: 1rem;
        }

        @include respond(desktop) {
            &:nth-child(1), &:nth-child(3){
                margin: 1.8rem;
            }

            &:nth-child(2) {
                border: 2px $color-tertiary-light solid;
            }
        }
    }

    .recommendPilHolder {
        top: 1rem;
        right: 1rem;
    }

    .recommendPil { 
        // position: relative; /* Keep position as relative */
        background-color: $color-secondary-dark;
        // border: none;
        color: $color-grey-light-1;
        // padding: 5px 10px;
        // text-align: center;
        // text-decoration: none;
        // display: inline-block;
        // margin: 4px 2px;
        // cursor: pointer;
        // border-radius: 16px;
    
        .tooltiptext {
            // visibility: hidden;
            // width: 160px;
            background-color: black;
            // color: white;
            // text-align: center;
            // border-radius: 6px 6px 6px 0px;
            // padding: 5px;
            // position: absolute;
            top: -2rem; 
            left: 5rem;
            // z-index: 100;
        }
    
        &:hover .tooltiptext {
            // visibility: visible;
        }
    }
    

    h3 {
        font-size: 2.5rem;
        margin: 1rem;
    }

    h4 {
        font-size: 2rem;
        margin: 1rem;
        padding: 1rem 0;
        background-color: $color-grey-light-1;
        width: 100%;
        font-weight: 400;
    }

    p {
        font-size: 1.4rem;
        padding: 0rem 1rem 2rem 1rem;
        height: 8rem;
        display: flex;
        align-items: center;
    }

    ul {
        text-align: left;
        padding: 2rem 3.5rem;
    }

    li {
        padding: .5rem 0;
        display: flex;
        font-size: 1.3rem;
        align-items: center;
        cursor: default;

        &::before {
            content: url(../img/blue-tick.svg);
            padding-right: 0.8rem;
        }
    }

    .btn {
        width: 22rem;
    }
    
}