.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;

    @include respond(desktop) {            
            #mc_embed_signup {
                width: auto;
            }
        
    }

    &__main {
        @include respond(desktop) {
            display: flex;
            align-items: center;

            border-top: 1px solid $color-black;
            border-bottom: 1px solid $color-black;
            width: 98%;
            padding: 3rem;
            margin: auto;
        }
    }

    &--menu {
        display: flex;
        margin: 1.25rem 0;
        justify-content: center;

        li {
            margin: 0 1rem;
            font-weight: 600;
        }

        @include respond(only-mobile) {
            display: none;
        }
    }
}