.btn {
    width: 100%;
    max-width: 30rem;
    max-height: 6rem;
    padding: 1.5rem 2rem;
    margin: 1rem 0 .3rem 0;
    border-radius: 2.5rem;
    white-space: nowrap; // Prevents the text from wrapping onto two lines
    overflow: hidden; // Hides any text that goes beyond the button's width
    text-align: center;
    font-size: 100%;
    color: inherit;
    font-size: 140%;
    cursor: pointer;

    &--black {
        background-color: $color-black;
        color: $color-white;
        border: none;

        &:hover {
            background-color:$color-tertiary-dark;
            color: $color-secondary-light;
        }
    }

    &--white {
        background-color: $color-white;
        border: 1px solid $color-black;

        &:hover {
            color: $color-secondary-light;
            border: 1px solid $color-secondary-light;
        }
    }

    &--blue {
        background-color: $color-primary;
        color: $color-white;
        border: none;

        &:hover {
            color:$color-tertiary-dark;
            background-color: $color-secondary-light;
        }
    }

    &--secondary-light {
        background-color: $color-secondary-light;
        color: $color-white;
        border: none;

        &:hover {
            color:$color-white;
            background-color: $color-primary;
        }
    }

    &--secondary-dark {
        background-color: $color-secondary-dark;
        color: $color-white;
        border: none;

        &:hover {
            color:$color-white;
            background-color: $color-tertiary-light;
        }
    }

    &--tertiary-light {
        background-color: $color-tertiary-light;
        color: $color-white;
        border: none;

        &:hover {
            color:$color-white;
            background-color: $color-secondary-dark;
        }
    }

    &--clear {
        background-color: transparent;
        border: none;
        font-size: 1.4rem;

        &:hover {
            color: $color-secondary-light;
        }
    }

    &--consultation {
        margin: 0 1rem;
    }

    .spanWhite {
        background-color: white;
        color: black;
        padding: 1rem;
        border-radius: 50%;
        font-size: 1.5rem;
        text-align: center;
        margin-left: 2rem;
    }
}