.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 2rem 2.5rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all 0.2s;
    position: relative;
    width: 100%;
    max-width: 270px;
    font-size: 1.8rem;

    @include respond(desktop) {
      max-width: 200px;
      padding: 1.5rem 2rem;
    }

    @include respond(big-desktop) {
      max-width: 240px;
    }

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    // transform: translateY(-3px);
    // box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    // outline: none;
    // transform: translateY(-1px);
    // box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-black;
    border: 1px solid $color-black;

    &::after {
      background-color: $color-white;
    }
  }

  &--black {
    background-color: $color-black;
    color: $color-grey-light-1;

    &::after {
      background-color: $color-primary;
    }
  }

  &--primary-light {
    background-color: $color-primary-light;
    color: $color-grey-light-1;

    &::after {
      background-color: $color-primary;
    }
  }

  &--tertiary {
    background-color: $color-tertiary-light;
    color: $color-tertiary-dark;
    font-weight: 900;

    &::after {
      background-color: $color-primary;
    }
  }

  // &::after {
  //   content: "";
  //   display: inline-block;
  //   height: 100%;
  //   width: 100%;
  //   border-radius: 10rem;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  //   transition: all 0.4s;
  // }

  // &--animated {
  //   animation: moveInBottom 0.5s ease-out 0.75s;
  //   animation-fill-mode: backwards;
  // }
}

.btn--text {
  font-size: 1.3rem;

  &:link,
  &:visited {
    font-size: 2rem;
    // color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

.btn-inline {
  border: none;
  color: $color-primary;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.5rem;

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: $color-grey-dark;

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.backToTop {
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  z-index: 99;
  border: 1px solid $color-black;
  background-color: $color-white;
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 50%;
}
