.searchContainer {
    background: linear-gradient(155deg, #55c7ed, #2bb3e0, #3bc1ed);
    max-width: 100%;
    width: 2000px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 3rem 0;
    min-width: 100%;
  
    .search {
      margin: 20px;
  
      h4 {
        font-weight: normal;
        font-size: 4rem;
      }

      p {
        font-size: 2rem;
      }

      h4, p {
        color: white;
        margin-bottom: 2rem;
        text-shadow: 0 1px #0091c2;
        font-weight: 600;
      }
  
      > div {
        display: inline-block;
        position: relative;
        filter: drop-shadow(0 1px #0091c2);
  
        &:after {
          content: "";
          background: white;
          width: 4px;
          height: 2rem;
          position: absolute;
          top: 3.3rem;
          right: -2px;
          transform: rotate(135deg);
        }
  
        > input {
          color: white;
          font-size: 16px;
          background: transparent;
          width: 25px;
          height: 25px;
          padding: 2rem;
          border: solid 3px white;
          outline: none;
          border-radius: 35px;
          transition: width 0.5s;
  
          &::placeholder {
            color: #efefef;
            opacity: 0;
            transition: opacity 150ms ease-out;
          }
  
          &:focus::placeholder {
            opacity: 1;
          }
  
          &:focus, &:not(:placeholder-shown) {
            width: 28rem;
          }
        }
      }
    }
  }
  
  .searchContainerHelper {
    background: linear-gradient(155deg, #55c7ed, #2bb3e0, #3bc1ed);
    max-width: 100%;
    width: 2000px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 3rem 0;
    min-width: 100%;
    flex-direction: column;

    h5 {
        font-size: 3rem;
    }

    h6 {
        font-size: 2rem;
        margin: 1.5rem 0;
    }

    a {
        display: flex;
        align-items: center;
    }

    .contactIcon {
        height: 16rem;
        width: auto;
        background-color: white;
        padding: 3.5rem;
        border-radius: 50%;
        overflow: visible;
    }


    .arrowIcon {
        height: 6rem;
        width: auto;
        margin: 0 auto;
    }
}