.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;

  &__linkedIn {
    fill: #0a66c2;
  }

  &__facebook {
    fill: #3b5998;
  }

  &__twitter {
    fill: #00acee;
  }

  &__youtube {
    fill: #ff0000;
  }

  @include respond(desktop) {
    display: none;
  }
}
