.our-process {
        &__section { 
            h2 { 
                font-size: 3rem;
                text-align: left;
                font-style: italic;
                font-weight: 300;
                color: black;
                line-height: 1.2;
                max-width: 600px;
                margin: 5rem auto 1rem auto;
        
                @include respond(desktop) {
                    font-size: 4.5rem;
                    max-width: 800px;
                    margin: 14rem auto 2rem auto;
                }
            } 
            
        .sec-center {
            position: relative;
            margin: 3rem auto 0 auto;
            max-width: 22rem;
            text-align: center;
            z-index: 200;
        
        [type="checkbox"] {
            &:checked {
                position: absolute;
                left: -9999px;
                opacity: 0;
                pointer-events: none;
            }
            &:not(:checked) {
                position: absolute;
                left: -9999px;
                opacity: 0;
                pointer-events: none;
            }
        }

        .dropdown {
            &:checked {
                + {
                    label {
                        position: relative;
                        font-weight: 500;
                        font-size: 1.5rem;
                        line-height: 2;
                        height: 5rem;
                        transition: all 200ms linear;
                        border-radius: 4px;
                        width: 22rem;
                        letter-spacing: 1px;
                        display: -webkit-inline-flex;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        -webkit-align-items: center;
                        -moz-align-items: center;
                        -ms-align-items: center;
                        align-items: center;
                        -webkit-justify-content: center;
                        -moz-justify-content: center;
                        -ms-justify-content: center;
                        justify-content: center;
                        -ms-flex-pack: center;
                        text-align: center;
                        border: none;
                        background-color: #ffeba7;
                        cursor: pointer;
                        color: #102770;
                        box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
                        &:before {
                            position: fixed;
                            top: 0;
                            left: 0;
                            content: '';
                            width: 100%;
                            height: 100%;
                            z-index: -1;
                            cursor: auto;
                            pointer-events: none;
                            pointer-events: auto;
                        }
                        .uil {
                            transform: rotate(180deg);
                            font-size: 24px;
                            margin-left: 10px;
                            transition: transform 200ms linear;
                        }
                    }
                }
                ~ {
                    .section-dropdown {
                        opacity: 1;
                        pointer-events: auto;
                        transform: translateY(0);
                    }
                }
            }
            &:not(:checked) {
                + {
                    label {
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 2;
                        height: 50px;
                        transition: all 200ms linear;
                        border-radius: 4px;
                        width: 220px;
                        letter-spacing: 1px;
                        display: -webkit-inline-flex;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        -webkit-align-items: center;
                        -moz-align-items: center;
                        -ms-align-items: center;
                        align-items: center;
                        -webkit-justify-content: center;
                        -moz-justify-content: center;
                        -ms-justify-content: center;
                        justify-content: center;
                        -ms-flex-pack: center;
                        text-align: center;
                        border: none;
                        background-color: #ffeba7;
                        cursor: pointer;
                        color: #102770;
                        box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
                        &:before {
                            position: fixed;
                            top: 0;
                            left: 0;
                            content: '';
                            width: 100%;
                            height: 100%;
                            z-index: -1;
                            cursor: auto;
                            pointer-events: none;
                        }
                        .uil {
                            font-size: 24px;
                            margin-left: 10px;
                            transition: transform 200ms linear;
                        }
                    }
                }
            }
        }
        .section-dropdown {
            position: absolute;
            padding: 5px;
            background-color: #111;
            top: 70px;
            left: 0;
            width: 100%;
            border-radius: 4px;
            display: block;
            box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
            z-index: 2;
            opacity: 0;
            pointer-events: none;
            transform: translateY(20px);
            transition: all 200ms linear;
            &:before {
                position: absolute;
                top: -20px;
                left: 0;
                width: 100%;
                height: 20px;
                content: '';
                display: block;
                z-index: 1;
            }
            &:after {
                position: absolute;
                top: -7px;
                left: 30px;
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid #111;
                content: '';
                display: block;
                z-index: 2;
                transition: all 200ms linear;
            }
        }
        a {
            position: relative;
            color: #fff;
            transition: all 200ms linear;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 15px;
            border-radius: 2px;
            padding: 5px 0;
            padding-left: 20px;
            padding-right: 15px;
            margin: 2px 0;
            text-align: left;
            text-decoration: none;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            align-items: center;
            justify-content: space-between;
            -ms-flex-pack: distribute;
            &:hover {
                color: #102770;
                background-color: #ffeba7;
            }
            .uil {
                font-size: 22px;
            }
        }
        }
        
    }
}
