.our-work {

    &__section {
        padding: 2rem 0 0 0;

        h2 {
            margin: 8rem auto 2rem auto;
            text-align: left;
            color: $color-grey-dark;
            font-weight: 100;
            font-size: 5rem;
            line-height: 100%;
            text-align: left;
            padding: 0 2rem;
            max-width: 80rem;

            span {
                color: $color-black;
                font-weight: 500;
                border-bottom: 5px solid $color-tertiary-light;
    
                @include respond(above-mobile) {
                    border-bottom: 1.2rem solid $color-tertiary-light;
                }
            }

            @include respond(above-mobile) {
                margin-top: 10rem;
                font-size: 6rem;
            }
        } 

        h5 {
            font-size: 2rem;
            font-style: italic;
            font-weight: 400;
            margin: 2rem 0;
        }

        h6 {
            font-size: 1.2rem;
            color: $color-grey-dark-3;
            font-weight: 300;
        }

        p {
            color: $color-grey-dark-3;
            font-size: 1.4rem;
            line-height: 2rem;
            margin: 2rem 0;
        }

        .grid-container {
            @include respond(above-mobile) {
                gap: 0 3rem;
            }
        }

        .grid-item {
            background-color: $color-grey-light-1;
            padding: 1rem;
            height: auto;
            max-height: fit-content;

            @include respond(above-mobile) {
                &:nth-child(odd) {
                    margin-top: 4rem;
                }

                &:nth-child(even) {
                    margin-bottom: 4rem;
                }
            }
        }
    }

    &__item {
        &--text {
            padding: 0 2rem;
        }
    }

    &__buttonContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
    }
}