.our-process {
        &__section { 
            @include respond(tablet) {
                max-width: 80vw;
                margin: auto;
            }

            h2 { 
                font-size: 3rem;
                text-align: left;
                font-style: italic;
                font-weight: 300;
                color: black;
                line-height: 1.2;
                max-width: 600px;
                margin: 6rem auto 1rem auto;
        
                @include respond(desktop) {
                    font-size: 4.5rem;
                    max-width: 800px;
                    margin: 14rem auto 2rem auto;
                }
            } 
        
    }
}
