.who-we-are {
    
        @include respond(desktop) {
            .navigation {
                background-color: transparent;

                .navigation--menu li.active {
                    color: $color-white;
                }
            }
        }

    &--personImage {
        height: 35rem;
        max-height: 350px;
        width: 95%;
        max-width: 95%;
        padding: 0.5rem 0rem;
        border-radius: 2.5rem;

        @include respond(desktop) {
            max-height: 30rem;
        }
    }

    .danielsImage {
        object-fit: cover;
    }

    &__section {
        background: linear-gradient(
            to top,
            white 0%,
            white 50%,
            $color-tertiary-light 50%,
            $color-primary 100%
          );

          @include respond(desktop) {
            padding: 7rem 0 0 0;
        }

        h2 { 
            color: $color-white;
            font-size: 2.5rem;
            margin-top: 5rem;

            span {
                color: $color-secondary-light;
            }

            @include respond(desktop) {
                font-size: 3.5rem;
            }
        }  

        h3 {
            font-size: 1.8rem;
        }

        h5 {
            color: $color-primary;
            font-weight: 600;
            font-size: 1.2rem;
        }

        p {
            padding: 1rem 2rem;
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 2;
            color: $color-black;
            text-align: left;
            text-shadow:0 0 1px transparent;
        }

        .carousel {
            @include respond(desktop) {
                justify-content: center;
            }
        }

        .carousel--item {
            min-width: 30rem;
            max-width: 30rem;
            padding: .5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 1rem;
            background-color: snow;
            border-radius: 3rem;
        }

        .social-links {
            display: flex;
            align-items: center;
            padding: 1rem 0;

            li {
                padding: 0 .8rem;
            }
        }
    }
}